* {
  --brickSize: 35px;
  --brickBorderSize: 4px;
  --cellSize: 43px;
  --mineColor: darkred;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table td {
  width: var(--cellSize);
  height: var(--cellSize);
  font-family: monospace;
  font-weight: 700;
  text-align: center;
  padding: 0;
  font-size: 16px;
  color: transparent;
  background-color: white;
}
table {
  user-select: none;
  padding: 0;
  margin-bottom: 25px;
}
td:hover {
  background-color: #bbb;
}
table tr:hover {
  color: #333;
}
table.game-over table {
  pointer-events: none;
}

.brick {
  background-color: #999;
  height: var(--brickSize);
  width: var(--brickSize);
  border-top: 4px solid #ccc;
  border-left: 4px solid #aaa;
  border-bottom: 4px solid #666;
  border-right: 4px solid #888;
}
.flag {
  background: #999 url("./assets/flag.png") no-repeat center;
  height: var(--brickSize);
  width: var(--brickSize);
}
.detonated {
  background-color: #ddd;
  width: var(--cellSize);
  height: var(--cellSize);
  color: transparent;
}
.mine {
  background: #ddd url("./assets/coronavirus.png") no-repeat center;
}
.neighbor {
  color: #222;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}
